/* Results.scss */
section {
    background-color: #333;
    color: #fff;
    padding: 20px;
    font-size: 16px;
    margin: 20px;
  }
  
  pre {
    white-space: pre-wrap;
    max-width: 100%;
    overflow-x: auto;
    margin: 0;
  }
  